/* main styles*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f2f7;
  text-align: center;
  color: #242d42;
}

h1 {
  color: #5b6fa4;
}

ul {
  margin: 0;
  padding: 0;}

li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #242d42;
}

a:hover {
  color: #9ca9c9;
}

.subheading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  padding-bottom: 1em;
}

.portfolio, .contact, .footer {
  width: 90%;
  margin: 0 auto;
}

/* header  */

.main-header {
  margin: 0 auto;
}

.nav a {
  /*background-color: #fff;*/
  display: inline-block;
  margin-top: 5px;
  padding: 10px 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  width: 90%;
}

/* home section */

.profile-card {
  background-color: #9ca9c9;
  margin-top: 2.5em;
  min-width: 100%;
}

.profile-card p {
  margin: 0;
  padding: 0 1em 2em;
}

.profile {
  border-radius: 100%;
  width: 50%;
  padding: 2em 0 1em;
}

/* portfolio section*/

.portfolio {
  padding: 2.5em 0 0;
}

.portfolio p {
  padding: 0 0 2em;
}

/* skills section */

.skills {
  background-color: #9ca9c9;
  padding: 2.5em 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.skills ul {
  padding: .5em 0 1em;
  width: 90%;
  margin: 0 auto;
}

.skills li {
  text-align: left;
}

.badges li {
  display: block;
  min-height: 40px;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  padding: 0 0 0 70px;
  margin: 20px 0 0;
  font-size: .8em;
}

.badges li.badge-1 {
  background-image: url('../img/artdirection_badge.png');
}

.badges li.badge-2 {
  background-image: url('../img/imgdelivery_badge.png');
}

.badges li.badge-3 {
  background-image: url('../img/positionpagecontent_badge.png');
}

.badges li.badge-4 {
  background-image: url('../img/csslayoutproject_badge.png');
}

.badges li.badge-5 {
  background-image: url('../img/float_badge.png');
}

/* contact */

.contact {
  padding: 2.5em 0;
  border-bottom: solid 1px #9ca9c9;
}

.contact ul li a {
  margin-left: 1em;
}

/* footer */

.footer {
  padding: 1em 0;
  margin-bottom: 2em;
  font-weight: 700;
  font-size: .8em;
}

.tablet-desktop-footer {
  display: none;
}

.footer-name {
  display: inline-block;
  float: left;
  margin: 0;
}

.mobile-footer {
  display: inline-block;
  float: right;
}
